/* ↓FONTES */
@font-face {
    font-family: potra;
    src: url(../fontes/potra/Potra.ttf);
}
@font-face {
    font-family: zen;
    src: url(../fontes/zen/Zen\ Os.otf);
}
@font-face {
    font-family: pixeldown;
    src: url(../fontes/pixeldown/pixeldown.ttf);
}
@font-face {
    font-family: orbiterbold;
    src: url(../fontes/orbiter/earthorbiter3d.ttf);
}
@font-face {
    font-family: elitebold;
    src: url(../fontes/elite/elitedangerbold.ttf);
}
@font-face {
    font-family: spy;
    src: url(../fontes/spy/spyagencyv3.ttf);
}
@font-face {
    font-family: squared;
    src: url(../fontes/squared/Squared\ Display.ttf);
}
@font-face {
    font-family: neon;
    src: url(../fontes/neon/Polentical\ Neon\ Regular.ttf);
}
@font-face {
    font-family: library;
    src: url(../fontes/library/Library\ 3\ am.otf);
}
@font-face {
    font-family: operatorbold;
    src: url(../fontes/operator/PixelOperator-Bold.ttf);
}
@font-face {
    font-family: operator;
    src: url(../fontes/operator/PixelOperator.ttf);
}
@font-face {
    font-family: rainy;
    src: url(../fontes/rainy/rainyhearts.ttf);
}
@font-face {
    font-family: alien;
    src: url(../fontes/alien/alienleague.ttf);
}
@font-face {
    font-family: zekton;
    src: url(../fontes/zekton/zekton\ rg.ttf);
}
@font-face {
    font-family: postmaster;
    src: url(../fontes/postmaster/postmasterbold.ttf);
}
@font-face {
    font-family: droid;
    src: url(../fontes/droid/droid.ttf);
}
@font-face {
    font-family: cranberry;
    src: url(../fontes/cranberry/cranberry\ gin.ttf);
}
@font-face {
    font-family: disco;
    src: url(../fontes/disco/discoduckital.ttf);
}
@font-face {
    font-family: zekton;
    src: url(../fontes/zekton/zekton\ rg.ttf);
}
@font-face {
    font-family: future;
    src: url(../fontes/future/MADE\ Future\ X\ HEADER\ Light\ PERSONAL\ USE.otf);
}
@font-face {
    font-family: elitebold;
    src: url(../fontes/elite/elitedangerboldexpand.ttf);
}
@font-face {
    font-family: quantum;
    src: url(../fontes/quantum/Quantum.otf);
}
@font-face {
    font-family: binary;
    src: url(../fontes/binary/binchrt.ttf);
}
@font-face {
    font-family: tetris;
    src: url(../fontes/tetris/Tetris.ttf);
}
@font-face {
    font-family: alagard;
    src: url(../fontes/alagard/alagard.ttf);
}
@font-face {
    font-family: symbol;
    src: url(../fontes/symbol/WolveSymbol.ttf);
}
@font-face {
    font-family: hyperspace;
    src: url(../fontes/hyperspace/Hyperspace.otf);
}
/* ↑FONTES */